.margin-none{margin:0!important}.active-dropdown-label:before{color:#cf2e2e;content:"Remove Icon";font-size:12px;right:70%;position:absolute;text-decoration:underline;top:-5px;transition:all .23s ease-in-out}
