@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700");

:root {
	--cozy-addons--primary: #5253f9;
	--cozy-addons--primary-accent: #ecefff;
	--cozy-addons--heading: #141822;
	--cozy-addons--heading-accent: #1418221f;
	--cozy-addons--muted: #62748e;
	--cozy-addons--light: #fff;
	--cozy-addons--border: #eaeef4;
	--cozy-addons--shadow: 0 4px 24px 0 #0b0d1610;
	--cozy-addons--pro-highlight: #d68b00;
}

/* Admin Menu */
#adminmenu li#toplevel_page__cozy_companions .wp-menu-image img {
	opacity: 1;
	width: 19px;
	margin: 0;
}
#adminmenu
	li.wp-has-current-submenu#toplevel_page__cozy_companions
	a.wp-has-current-submenu {
	background-color: var(--cozy-addons--primary);
	color: #ffffff;
}

/* Admin */
.cozy-addons-admin-notice {
	display: flex;
	padding: 0 20px 0 0;
	margin-top: 16px;
	margin-bottom: 16px;
	justify-content: space-between;
	align-items: end;
	border-left-color: var(--cozy-addons--primary);
	font-family: "Inter";

	& p {
		margin: 0;
		font-size: 14px;
		font-weight: 300;
		color: var(--cozy-addons--muted);
	}
}
.cozy-addons-admin-notice .notice-content {
	padding: 20px 5% 20px 20px;
	display: flex;
	align-items: start;
}
.cozy-addons-admin-notice .notice-content #brand__icon {
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 12px 0 0;

	& img {
		width: 48px;
		height: 48px;
		object-fit: contain;
	}
}
.cozy-addons-admin-notice .highlighted-text {
	font-weight: 300;
	font-size: 16px;
	color: var(--cozy-addons--primary);
}
.cozy-addons-admin-notice .banner-title {
	color: var(--cozy-addons--heading);
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
	margin: 0 0 12px;
}
.cozy-addons-admin-notice .features-list {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	font-weight: 400;
	color: var(--cozy-addons--heading);
	list-style: none;
	margin: 12px 0 0;
	padding: 0;

	& .feature-list-item {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}
	& .check-icon {
		display: flex;
	}
}
.cozy-addons-admin-notice .ca__admin-notice-btn {
	background-color: var(--cozy-addons--primary);
	color: #fff;
	padding: 12px 26px;
	text-decoration: none;
	margin: 26px 0 10px;
	display: inline-block;
	transition: all 0.3s ease;
	border-radius: 100px;
}
.cozy-addons-admin-notice .ca__admin-notice-btn:hover {
	background-color: var(--cozy-addons--heading);
	color: #fff;
}
.cozy-addons-admin-notice .ca__admin-notice-btn::after {
	content: "\2192"; /* → */
	display: inline-block;
	transform: scale(0);
	transform-origin: left;
	transition: transform 0.4s ease;
	width: 0;
}
.cozy-addons-admin-notice .ca__admin-notice-btn:hover::after {
	margin-left: 5px;
	width: auto;
	transform: scale(1);
}
.cozy-addons-admin-notice .plugin-screen img {
	max-height: 290px;
	margin-bottom: -5px;
}
