#wpcontent:has(.cozy-blocks__dashboard) {
	padding-left: 0;
}
.cozy-blocks__dashboard {
	font-size: 14px;
	font-family: "Inter";
	font-weight: 300;
	color: var(--cozy-addons--muted);

	& ul,
	& li,
	& figure,
	& button {
		padding: 0;
		margin: 0;
	}
	& ul {
		list-style: none;
	}
	& button {
		background-color: transparent;
		border: none;
		outline: none;
	}

	& .toast-message {
		margin: 0;
		position: fixed;
		right: 0;
		bottom: 10px;
		padding: 10px 20px;
		font-size: 14px;
		font-weight: 400;
		color: #1a1a1a;

		&:not(.is-active) {
			z-index: -10;
			transform: translateX(20px);
			opacity: 0;
			visibility: hidden;
		}
		&.is-active {
			z-index: 999;
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
			transition: transform 0.3s ease;
			border: 1px solid;

			&.tone-info {
				padding: 10px 20px 10px 44px;
			}
			&.tone-info::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 24px;
				width: 16px;
				height: 16px;
				margin: -12px 0 0 -12px; /* half of width/height, to center it */
				border: 3px solid var(--cozy-addons--heading-accent);
				border-top-color: var(--cozy-addons--primary);
				border-radius: 50%;
				animation: spin 0.8s linear infinite;
			}
			&.tone-success::before {
				content: "\2713";
				font-size: 16px;
				margin-right: 6px;
				color: #4caf50;
			}
			&.tone-error::before {
				content: "\2717";
				font-size: 16px;
				margin-right: 6px;
				color: #e5484d;
			}
			&.tone-warning::before {
				content: "!";
				font-size: 16px;
				margin-right: 6px;
				color: #f0ac1e;
			}
		}

		&.tone-success {
			border-color: #4caf50;
			background-color: #f1faf1;
		}
		&.tone-info {
			border-color: #3b6fe0;
			background-color: #eaf0fd;
		}
		&.tone-warning {
			border-color: #f0ac1e;
			background-color: #fdf4e3;
		}
		&.tone-error {
			border-color: #e5484d;
			background-color: #fcedec;
		}
	}

	& .is-disabled:not(.toggle-switcher) {
		opacity: 0.7;
		cursor: not-allowed;
		pointer-events: none;
	}

	& .ca-buttons {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
	& .ca-btn a {
		padding: 12px 26px;
		border-radius: 12px;
		text-decoration: none;
		font-size: 13px;
		font-weight: 400;
		display: inline-block;
	}
	& .ca-btn.has-icon a {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	& .ca-btn.is-full-width {
		width: 100%;
	}
	& .ca-btn.is-full-width a {
		width: 100%;
		box-sizing: border-box;
		display: block;
	}
	& .ca-btn.btn-primary a {
		background-color: var(--cozy-addons--primary);
		color: var(--cozy-addons--light);

		&:hover {
			background-color: var(--cozy-addons--heading);
		}
	}
	& .ca-btn.btn-primary-accent a {
		background-color: var(--cozy-addons--primary-accent);
		color: var(--cozy-addons--primary);
		border: 1px solid #c4c2fe;

		&:hover {
			background-color: var(--cozy-addons--heading);
			color: var(--cozy-addons--light);
			border: 1px solid var(--cozy-addons--light);
		}
	}
	& .ca-btn.btn-secondary a {
		background-color: var(--cozy-addons--light);
		color: var(--cozy-addons--primary);
		border: 1px solid var(--cozy-addons--border);

		&:hover {
			background-color: var(--cozy-addons--heading);
			color: var(--cozy-addons--light);
			border-color: var(--cozy-addons--heading);
		}
	}
	& .ca-btn.btn-secondary-alt a {
		background-color: transparent;
		color: var(--cozy-addons--light);
		border: 1px solid var(--cozy-addons--light);

		&:hover {
			background-color: var(--cozy-addons--heading);
			color: var(--cozy-addons--light);
			border-color: var(--cozy-addons--heading);
		}
	}

	& .ca-spacer {
		margin: 44px 0;

		&.sm {
			margin: 16px 0;
		}
	}

	& .ca-helper-links {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
		font-size: 13px;

		& .helper-link {
			margin: 0;
			padding: 0;

			& a {
				display: flex;
				align-items: center;
				gap: 4px;
				color: var(--cozy-addons--muted);
			}

			&.upsell-link a {
				color: var(--cozy-addons--primary);
			}
		}
	}

	& .toggle-switcher-wrap {
		position: relative;
		min-width: 42px;
		width: 42px;
		height: 22px;

		&:has(.toggle-switcher.is-disabled) input {
			display: none;
		}

		& input {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0 !important;
			cursor: pointer;
			z-index: 1;
		}

		& .toggle-switcher {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--cozy-addons--heading-accent);
			transition: 0.2s;
			border-radius: 24px;
			border: 1px solid var(--cozy-addons--border);
		}

		& .toggle-switcher:before {
			position: absolute;
			content: "";
			height: 14px;
			width: 14px;
			left: 3px;
			bottom: 3px;
			background-color: var(--cozy-addons--light);
			transition: 0.2s;
			border-radius: 50%;
		}

		& input:checked + .toggle-switcher {
			background-color: var(--cozy-addons--primary);
			border-color: var(--cozy-addons--primary);
		}

		& input:checked + .toggle-switcher:before {
			transform: translateX(20px);
		}
	}
	& .cozy-block-upsell-tooltip {
		background-color: #fff;
		padding: 16px 20px;
		border-radius: 12px;
		width: 205px;
		display: none;
		position: absolute;
		z-index: 2;
		bottom: 140%;
		left: -194px;
		box-shadow: 0 0 21px rgba(0, 0, 0, 0.2);
		color: #4c4d4f;
		text-align: center;
		font-family: "Inter";
		font-size: 14px;
		font-weight: 400;
	}
	& .cozy-block-upsell-tooltip:after {
		content: "";
		display: block;
		height: 0;
		width: 0;
		position: absolute;
		top: 100%;
		left: 200px;
		border-top: 12px solid #fff;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: none;
	}

	& .boxed-layout {
		padding: 26px 16px;
		border: 1px solid var(--cozy-addons--border);
		border-radius: 20px;
		background-color: var(--cozy-addons--light);
		box-shadow: var(--cozy-addons--shadow);
	}
	& .grid-layout {
		display: grid;
		gap: 16px;

		&.cols-2 {
			grid-template-columns: repeat(2, 1fr);
		}
		&.cols-3 {
			grid-template-columns: repeat(3, 1fr);
		}
		&.cols-4 {
			grid-template-columns: repeat(4, 1fr);
		}
		&.cols-6 {
			grid-template-columns: repeat(6, 1fr);
		}
	}
	& .flex-layout {
		display: flex;
		gap: 16px;
	}

	& .section-title {
		margin: 0;
		margin-bottom: 12px;
		font-size: 24px;
		font-weight: 600;
		letter-spacing: -1px;
		line-height: 1.2;
	}

	& .section-pill {
		width: fit-content;
		padding: 2px 10px;
		margin: 0;
		border-radius: 100px;
		background-color: var(--cozy-addons--primary-accent);
		color: var(--cozy-addons--primary);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 11px;
		font-weight: 400;
		margin-bottom: 8px;

		&.pill-secondary {
			background-color: var(--cozy-addons--light);
		}
	}

	/* Notifier Bar */
	& .dashboard__notifier-bar {
		background-color: var(--cozy-addons--primary-accent);
		color: var(--cozy-addons--primary);
		padding: 8px 26px;
		text-align: center;

		& p {
			margin: 0;
		}
	}

	/* Dashboard Header */
	& .dashboard__header {
		display: flex;
		gap: 16px;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background-color: var(--cozy-addons--light);
		padding: 12px 26px;
		box-shadow: var(--cozy-addons--shadow);
		border-top: 1px solid var(--cozy-addons--border);
		border-bottom: 1px solid var(--cozy-addons--border);

		& p {
			margin: 0;
		}
	}
	& .brand-nav__wrapper,
	& .ca__brand-identity {
		display: flex;
		align-items: center;
	}
	& .ca__brand-identity {
		gap: 10px;
		border-right: 1px solid var(--cozy-addons--border);
		padding-right: 20px;
	}
	& .ca__logo {
		margin: 0;

		& img {
			width: 40px;
			height: 40px;
			object-fit: cover;
		}
	}
	& .plugin-name {
		margin: 0;
		margin-bottom: 2px;
		font-size: 20px;
		font-family: Inter;
		color: var(--cozy-addons--heading);
		letter-spacing: -1px;
	}
	& .plugin-version {
		font-size: 12px;
	}
	& .ct-tabs {
		display: flex;
		gap: 26px;
		padding-left: 20px;
		font-weight: 500;
		letter-spacing: -1px;
	}
	& .ct-tab.is-active {
		color: var(--cozy-addons--primary);
		cursor: default;
	}
	& .ct-tab:not(.is-active) {
		cursor: pointer;

		&:hover {
			color: var(--cozy-addons--heading);
		}
	}

	/* Tab Content */
	& .tab-content:not(.is-active) {
		display: none !important;
	}

	/* Dashboard Body */
	& .dashboard__body {
		max-width: 1180px;
		margin: 0 auto;
		padding: 26px;
	}
	& #dashboard,
	& #free-pro-comparison {
		display: flex;
		gap: 16px;
	}
	& .main {
		flex: 3;
	}
	& .sidebar {
		flex: 1;
		height: fit-content;
		position: sticky;
		top: 34px;

		& p {
			margin: 0;
		}

		& .sidebar-icon {
			display: inline-block;
			margin-right: 2px;

			& svg {
				width: 14px;
				height: 14px;
			}
		}

		& .boxed-layout.upsell-section {
			background-image: url("https://plugins.cozythemes.com/cozy-addons/admin/assets/media/upsell_sidebar_img.png");
			color: var(--cozy-addons--light);
			background-repeat: no-repeat;
			background-size: cover;

			& .sidebar-section-title {
				color: var(--cozy-addons--light);
			}
		}

		& .upsell-list li:not(:first-child) {
			margin-top: 5px;
		}
		& .check-icon {
			background-color: #ffffff4e;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 100px;
			width: 14px;
			height: 14px;
			margin-right: 5px;
		}
	}
	& .sidebar-section-title {
		margin: 0;
		margin-bottom: 12px;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -1px;
		line-height: 1.4;
	}

	/* Index Page */
	& .banner-box.boxed-layout {
		padding: 26px;
	}
	& .features-list {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		font-weight: 400;
		color: var(--cozy-addons--heading);
	}
	& .features-list .feature-list-item {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	& .features-list .check-icon {
		margin-top: 2px;
		color: var(--cozy-addons--primary);
		& svg {
			width: 16px;
			height: 16px;
		}
	}

	& .getting-started h3 {
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 500;
		font-family: Inter;
		letter-spacing: -1px;
	}

	#dashboard .block-list .grid-layout-item {
		padding: 16px 12px;
		border: 1px solid var(--cozy-addons--border);
		border-radius: 10px;
		text-align: center;

		& p {
			margin: 0;
			margin-top: 10px;
		}
	}
	#dashboard .block-list .icon-wrapper {
		padding: 10px;
		display: inline-flex;
		width: fit-content;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
		background-color: var(--cozy-addons--primary-accent);
	}
	#dashboard .block-list .block-label {
		font-weight: 500;
		letter-spacing: -1px;
		color: var(--cozy-addons--heading);
	}
	& .feature-highlights .feature-title {
		margin: 0;
		font-size: 16px;
		font-weight: 500;
		font-family: Inter;
		letter-spacing: -1px;

		&.has-icon .title-icon {
			display: inline-flex;
			margin-right: 4px;
			margin-top: -3px;
			vertical-align: middle;
		}
	}
	& .feature-highlights .icon-list {
		margin-top: 12px;
		font-weight: 400;
		font-size: 13px;

		& .list-item:not(:first-child) {
			margin-top: 6px;
		}

		& .list-item {
			padding: 10px;
			border-radius: 10px;
			background-color: #f9fbfd;
			display: flex;
			align-items: center;
			gap: 10px;
			color: var(--cozy-addons--heading);
		}
		& .icon-wrapper {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 6px;
			border-radius: 5px;
			background-color: var(--cozy-addons--light);
			box-shadow: var(--cozy-addons--shadow);
		}
	}
	& .starter-templates.flex-layout,
	& .money-back.flex-layout {
		align-items: center;
	}
	& .starter-templates > .banner-image {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	& .accordion-item {
		border: 1px solid #e5e7eb;
		border-radius: 16px;
		margin-bottom: 16px;
		overflow: hidden;
	}
	& .accordion-item.active {
		box-shadow: var(--cozy-addons--shadow);

		& h3,
		& svg {
			color: var(--cozy-addons--primary);
		}
	}
	& .accordion-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 26px;
		cursor: pointer;
		color: var(--cozy-addons--heading);

		& h3 {
			margin: 0;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: -1px;
		}
	}
	& .chevron {
		display: flex;
		transition: transform 0.25s ease;
		justify-content: center;
		align-items: center;
		& svg {
			height: 12px;
		}
	}
	& .accordion-item.active .chevron {
		transform: rotate(180deg);
		transform-origin: center;
	}
	& .accordion-body {
		max-height: 0;
		overflow: hidden;
		padding: 0 24px 0;
		transition:
			max-height 0.3s cubic-bezier(0.22, 1, 0.36, 1),
			padding 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}
	& .accordion-item.active .accordion-body {
		max-height: 300px; /* adjust if answers are longer */
		padding: 0 24px 22px;
		transition:
			max-height 0.5s ease,
			padding 0.2s ease-in;
	}
	& .accordion-body p {
		margin: 0;
	}
	& .cta-featured-image {
		max-width: 100%;
		display: flex;
		align-items: flex-start;

		& a {
			display: flex;
			height: fit-content;
		}

		& img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	& #blocks .box-label {
		margin: 0;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: -1px;
		color: var(--cozy-addons--heading);
	}
	& #blocks .block-item {
		padding: 10px 16px;
		border: 1px solid var(--cozy-addons--border);
		border-radius: 12px;

		&.flex-layout {
			justify-content: space-between;
			align-items: center;
		}

		& .block-icon {
			display: flex;
			min-width: 44px;
			height: 44px;
			border-radius: 100px;
			justify-content: center;
			align-items: center;
			background-color: var(--cozy-addons--primary-accent);
			color: var(--cozy-addons--heading);

			& svg {
				width: 22px;
				height: 22px;
			}
		}
		& .block-title {
			font-size: 14px;
			font-weight: 400;
			font-family: Inter;
			margin: 0;
			color: var(--cozy-addons--heading);
		}
		& .block-title.has-icon {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		& .block-title.has-icon .icon-wrapper {
			min-width: 24px;
			height: 24px;
			border-radius: 100px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background-color: var(--cozy-addons--pro-highlight);
			color: var(--cozy-addons--light);
		}
		& .block-helper-links {
			margin: 2px 0 0;
			display: flex;
			gap: 5px;
			align-items: center;

			& a {
				font-size: 13px;
				font-weight: 400;
				color: var(--cozy-addons--muted);
			}
			& .link-separator {
				display: block;
				margin-top: -6px;
			}
		}
	}

	& .dashboard__body:has(#settings.is-active) {
		max-width: 100%;
		padding: 0;
	}
	& #settings {
		display: flex;
	}
	& #settings .setting-sidebar {
		width: 250px;
		min-height: calc(100vh - 105px);
		background-color: var(--cozy-addons--light);
		padding: 26px;

		& .setting-tab-item {
			font-size: 14px;
			font-weight: 500;
		}
		& .setting-tab-item:not(:first-child) {
			margin-top: 16px;
		}
		& .setting-tab-item.is-active {
			cursor: default;
			color: var(--cozy-addons--heading);
		}
		& .setting-tab-item:not(.is-active) {
			cursor: pointer;

			&:hover {
				color: var(--cozy-addons--heading);
			}
		}
	}
	& #settings .setting-body {
		padding: 26px;
		box-sizing: border-box;
		width: calc(100% - 250px);

		& .setting-tab-content:not(.is-active) {
			display: none;
		}

		& .flex-layout {
			display: flex;
			justify-content: space-between;
			border: 1px solid var(--cozy-addons--border);
			border-radius: 12px;
			padding: 20px 16px;
			gap: 10px;

			& p {
				margin: 0;
			}

			& .setting-title {
				margin: 0 0 12px 0;
				font-size: 14px;
				font-family: Inter;
				color: var(--cozy-addons--heading);
			}
			& .setting-title.has-icon {
				display: flex;
				align-items: center;
				gap: 10px;
			}
			& .setting-title.has-icon .icon-wrapper {
				min-width: 24px;
				height: 24px;
				border-radius: 100px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background-color: var(--cozy-addons--pro-highlight);
				color: var(--cozy-addons--light);
			}
		}
	}

	& #free-pro-comparison .flex-layout {
		justify-content: space-between;
	}
	& #free-pro-comparison .feature-table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		border: 0;

		& .section {
			position: sticky;
			top: 32px;
			background-color: var(--cozy-addons--primary-accent);

			& th {
				padding: 10px 20px;
				font-size: 16px;
				font-weight: 500;
				color: var(--cozy-addons--heading);
				letter-spacing: -1px;
			}
		}
		& .section > th:first-child {
			text-align: left;
		}
		& tbody td:first-child {
			padding: 10px 0 10px 20px;
		}
		& tbody td:not(:first-child) {
			text-align: center;
		}
		& .section__item.last-item td {
			padding-bottom: 44px;
		}
	}

	& #license {
		& h3 {
			font-size: 18px;
			font-weight: 600;
			letter-spacing: -1px;
			color: var(--cozy-addons--heading);
		}
		& h3,
		& p {
			margin: 0;
		}
	}
	& #license .plan__type h3 {
		display: inline-block;
	}
	& #license .plan__pill {
		display: inline-block;
		margin: -4px 0 0 5px;
		padding: 2px 10px;
		border-radius: 100px;
		background-color: var(--cozy-addons--primary-accent);
		font-size: 11px;
		vertical-align: middle;

		&.pro {
			color: var(--cozy-addons--light);
			background-color: var(--cozy-addons--pro-highlight);
		}
	}
	& #license .pro__crown {
		padding: 10px;
		display: flex;
		height: fit-content;
		border-radius: 100px;
		color: var(--cozy-addons--primary);
		background-color: var(--cozy-addons--primary-accent);

		& svg {
			width: 24px;
			height: 24px;
		}
	}

	& #products .ca-buttons {
		justify-content: space-between;
	}
	& #products .themes-marketplace .boxed-layout {
		padding: 0;
		height: fit-content;

		& .theme-image img {
			width: 100%;
			min-height: 240px;
			object-fit: cover;
			border-radius: 20px 20px 0 0;
		}

		& .inner-wrap {
			padding: 0 26px 26px;
		}

		& .product-tags {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			font-size: 11px;
			font-weight: 400;
			color: var(--cozy-addons--heading);
		}
		& .tag-item {
			padding: 2px 10px;
			border: 1px solid var(--cozy-addons--border);
			border-radius: 100px;
		}
	}
}
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
@media (width <=1260px) {
	.cozy-blocks__dashboard .grid-layout.cols-4 {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (width <= 1024px) {
	#dashboard,
	#free-pro-comparison {
		flex-wrap: wrap;
	}
	.cozy-blocks__dashboard .grid-layout.cols-6 {
		grid-template-columns: repeat(3, 1fr);
	}
	.cozy-blocks__dashboard #custom-post-types .flex-layout,
	.cozy-blocks__dashboard #blocks .block-item.flex-layout {
		flex-wrap: wrap;
	}
}
@media (width <= 767px) {
	.cozy-blocks__dashboard .grid-layout.cols-4 {
		grid-template-columns: repeat(2, 1fr);
	}
	.cozy-blocks__dashboard .grid-layout.cols-3 {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (width <= 568px) {
	.cozy-blocks__dashboard .grid-layout.cols-2 {
		grid-template-columns: repeat(1, 1fr);
	}
	.cozy-blocks__dashboard .grid-layout.cols-3 {
		grid-template-columns: repeat(1, 1fr);
	}
	.cozy-blocks__dashboard .grid-layout.cols-4 {
		grid-template-columns: repeat(1, 1fr);
	}
	.cozy-blocks__dashboard .grid-layout.cols-6 {
		grid-template-columns: repeat(1, 1fr);
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
